html, body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

BODY {
    font-family: 'Lato', sans-serif;
    background-color: #E3F6FC;
    margin: 0;
    height: auto;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.logOutButton{
  width: 240px;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: grabbing;
  background-color: crimson;
  color: white;
}


h1 {
    font-size: 48px;
}

p {
    max-width: 65%;
    min-width: 500px;
}

h2 {
    text-align: center;
    font-size: 2.6rem;
}

div {
    padding-right: 30px;
    height: 100%;
    width: 100%;
}

video {
    background-color: #000000;
    border: 2px solid black;

}



.responseThing{
    color:red;
    margin: 10px;
}

.special {
    cursor: pointer;
    color: red;
    border-radius: 5px;
}

.main {
    
    width: 100%;
    text-align: center;

}

.news {
    padding-left: 50px;
    color: red;
    font-size: 69px;
    font-family: sans-serif;
}

.nav h1 {
    padding-left: 20px;
    display: flex;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: auto;
  height: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.navbar {
  overflow: visible;
  background-color: #397C97;
  position: absolute; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height:auto;
}
.recordThing{
  padding: 0;
  text-align: center;
  margin-top: -60px;
  color: red;
}



.anchor-container {
  float: right; /* or display: inline-block; */
  text-align: right;
  padding: 10px 24px; /* Some padding */
  margin-top: -70px; /* adjust the margin as needed */
  margin-bottom: -15px;
  margin-right: 30px;
}

.anchor-container a {
  /* your anchor styles here */
  color: white;
  padding-left: 40px;
  font-size: large;
}

.chat-transcript {
  overflow: hidden;
  min-width: 0; /* Allow the container to shrink */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  text-align: center; /* Center the text inside the container */
  color: red;
}

.center{
  text-align: center
}

.container {
    display: flex;

}

.account1{
    font-size: 40px;
    color: #1c0903;
}
.account2{
    font-size: 40px;
    font-weight: bolder;
    color: #1c0903;

}
.funny{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sticky-container {
    overflow: visible;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
}
.sticky-container div{

    margin-left: 14px;
    max-width: 98%;
    text-align: center;
    color: red;
}

.bigText{
  font-size: 30px;
}

.errorMessage{
  font-size: 26px;
  color: red;
}

.title {
  padding-left: 30px;
  min-width: 75%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  height: 95vh;
  overflow: scroll;

}

.underline {

  text-align: center;
  background-color: gray;
  height: 1px;
  margin-bottom: 20px;
}

#login-a {
  text-decoration: none;
  color: #397C97;
  transition: 0.4s;
}

#login-a:hover {
  padding-left: 8px;
}

#loginButton {
  height: 38px;
  background-color: #397C97;
  color: white;
  font-family: monospace;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 3px;
  outline: none;
  font-family: monospace;
  text-align: center;
  transition: 0.4s;
}

#loginButton:hover {
  background-color: #E3F6FC;
  color: black;
  border: none;
}



#speakButton{
height: 38px;
  background-color: #397C97;
  color: white;
  font-family: monospace;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
  width: 12%;
  border-radius: 5px;
  margin-bottom: 3px;
  outline: none;
  font-family: monospace;
  text-align: center;
  transition: 0.4s;
}

#speakButton:hover{
  background-color: #E3F6FC;
    color: black;
    border: none;
  }


input{
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 3px;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
}

label{
  font-size: 20px;
}